<div class="jumbotron vertical-center">
	<div class="container">
	<div>
	<form name="form" ng-submit="searchPinCode()">
		<input name="inputBox" class = "input-lg" type="text" ng-model="searchKey"><input class="btn btn-primary btn-lg" type="submit" value="Search Pin">
		<div ng-messages="form.inputBox.$error">
		  <div ng-message="required">Enter either area, city, district or state name</div>
		</div>
	</form>	
	</div>
	<div class="container" style="float:right">
			  <form role="form" ng-submit="postComment()">
			  	<div class="form-group">
			      <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="post.name">
			    </div>
			    <div class="form-group">
			      <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="post.email">
			    </div>
			    <div class="form-group">
			    	<textarea class="form-control" ng-model="post.comment" placeholder="Enter comment"></textarea>
			    </div>
			   
			    <button type="submit" class="btn btn-default">Post</button>
			  </form>
	</div>

	</div>
	<div ng-if="pincodes" >
	<table class="table table-bordered" style="margin-top:25px">
		<tr>
			<th>Pin</th><th>Area</th><th>District</th><th>State</th>
		</tr>
		<tr ng-repeat="x in pincodes">
			<td>{{x.pinCode}}</td><td>{{x.area}}</td><td>{{x.district}}</td><td>{{x.state}}</td>
		</tr>
	</table>
	
	</div>
		<span>{{errorMessage}}</span>
	</div>
</div>